<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A Bootstrap Blog Template">
    <meta name="author" content="Vijaya Anand">

    <title>{% block title %}CRM system{% endblock %}</title>

    <!-- Bootstrap CSS file -->
    {% block stylesheets %}
        <link href="{{ asset('/bundles/app/css/bootstrap/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/app/css/blog.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('/bundles/app/css/styles.css') }}" type="text/css" rel="stylesheet" />
    {% endblock %}

</head>

<body>

<!-- Header -->
{{ include('::Blocks/main_navbar.html.twig') }}

<!-- Body -->
<div class="container">
    <div class="row">
        <div class="col-md-12">

            {% set navigation_bar = [
                [path('admin'), 'Projects'],
                [path('access_right'), 'Access rights']
            ] %}

            {% set active_page = active_page|default('admin') %}
            {% set active_url = path(active_page) %}

            <ul class="nav nav-tabs nav-justified">
                {% for item in navigation_bar %}
                    <li role="presentation" {% if item[0] == active_url %} class="active" {% endif %}>
                        <a href="{{ item[0] }}">{{ item[1]|raw }}</a>
                    </li>
                {% endfor %}
                <li role="presentation"><a href="#">Requests</a></li>
            </ul>
            <br>

            <div class="row">
                <div class="col-md-3">
                    <div class="list-group">
                        <a href="{{ path('admin') }}" class="list-group-item {{ app.request.attributes.get('_route') == 'admin' ? 'active' }}">
                            <span class="badge">{{ total_amount_of_projects|length }}</span>
                            All projects
                        </a>
                        {% if (categories is defined) %}
                            {%  for category in categories %}
                                <a href="{{ path('category', {'id': category.id}) }}"
                                    {% if app.request.attributes.get('_route') == 'category' and app.request.attributes.get('id') == category.id %}
                                        class="list-group-item active"
                                    {% else %}
                                        class="list-group-item"
                                    {% endif %}
                                    >
                                    <span class="badge">{{ category.project.count }}</span>
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-9">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Number</th>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Payback period</th>
                            <th>Created at</th>
                            <th>Status</th>
                        </tr>
                        </thead>
                        {% block body %}{% endblock %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container">
        <hr />
        <p class="text-center">Copyright &copy; PhpAcademy 2016. All rights reserved.</p>
    </div>
</footer>

<!-- Jquery and Bootstrap Script files -->
{% block javascripts %}
    <script src="{{ asset('/bundles/app/js/jquery.min.js') }}"></script>
    <script src="{{ asset('/bundles/app/js/bootstrap.min.js') }}"></script>
{% endblock %}

</body>
</html>